# Default ignored files
/shelf/
/workspace.xml
12345.txt
test.txt
tg_Bot.py
tg_bot_config.py
geckodriver.log
el.txt
__pycache__
dnevnik.py
dnevnikselenium.py
парсер инет провайдера.ipynb
Dnevnik_on_jupiter.ipynb
hena.txt
Not_ready.ipynb
telegram.py
tg_Bot.py
tg_bot_config.py
парсер инет провайдера.ipynb